{% extends 'base.html' %}
{% load static %}
{% block title %}Barber Booking{% endblock %}
{% block content %}
    <!-- Barber Info Section -->
    <div class="container mt-5">
        <h2 class="text-center mb-4">Barber Information</h2>
        <div class="row">
            {% for barber in barberinfo %}
                <!-- Barber Info - Name and Description -->
                <div class="col-md-6 mb-4">
                    <div class="barber-info">
                        <h3>{{ barber.title }}</h3>
                        <p>{{ barber.description | safe }}</p>
                    </div>
                </div>

                <!-- Barber Info - Image with Updated on Date Underneath -->
                <div class="col-md-6 mb-4">
                    <div class="barber-image">
                        {% if "placeholder" in barber.image.url %}
                            <img src="{% static 'images/cover.jpg' %}" alt="Placeholder Image" class="card-img-top">
                            <small class="d-block text-muted mt-2">Updated on: {{ barber.created_on }}</small>
                        {% else %}
                            <img src="{{ barber.image.url }}" alt="{{ barber.title }} Image" class="card-img-top">
                            <small class="d-block text-muted mt-2">Updated on: {{ barber.created_on }}</small>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Services Section -->
    <div class="container mt-5">
        <h2 class="text-center mb-4">Our Services</h2>
        <div class="row">
            {% for service in servicedescription %}
                <!-- Service - Image with Updated on Date Underneath -->
                <div class="col-md-6 mb-4">
                    <div class="service-image">
                        <img src="{{ MEDIA_URL }}{{ service.image.url }}" alt="{{ service.title }} Image" class="img-fluid rounded">
                        <small class="d-block text-muted mt-2">Updated on: {{ service.created_on }}</small>
                    </div>
                </div>

                <!-- Service - Title and Description -->
                <div class="col-md-6 mb-4">
                    <div class="service-info">
                        <h3>{{ service.title }}</h3>
                        <p>{{ service.services | safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}