/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Scroll smooth */
html {
    scroll-behavior: smooth;
}

/* Global Color Classes */
/* Primary Color: #2c2c2c (Headers, Navigation, and Primary UI Elements) */
.primary-color {
    color: #1f5a5e;
}

.primary-bg {
    background-color: #71b9bd;
}

/* Secondary Color: #ffffff (Background and Text Containers) */
.secondary-color {
    color: #333333;
}

.secondary-bg {
    background-color: #ffffff;
}

/* Action Color: #ffd700 (Book Now and Appointment Buttons) */
.action-color {
    color: #ffc107;
}

.action-bg {
    background-color: #ffc107;
}

.action-bg:hover {
    background-color: #3cacb47d;
}

/* Accent Color: #f5f5f5 (Secondary Buttons like Cancel) */
.accent-bg {
    background-color: #d8dede;
    width: 72%;
}

.accent-color {
    color: #030404;
}

.accent-color:hover {
    color: #353030;
    font-weight: 500;
    font-size: 18px;
    background-color: #3cacb47d;
}

/* Global Message style */
#message-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Global Text Classes */
/* Text and Icons: Black (#000000) */
.text-color {
    color: #2a2a2a;
}

.text-color:hover {
    color: #353030;
    font-weight: 500;
    font-size: 18px;
}

.text-color-sec {
    color: #ffffff;
}

.text-color-third {
    color: #68c8b5;
}

/* Call-to-Action Buttons: Poppins Semi-Bold, Gold (#ffd700) on Dark Gray (#2c2c2c) */
.cta-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ffc107;
    background-color: #71b9bd;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Secondary Buttons: Roboto Regular, Light Gray (#f5f5f5) on White (#ffffff) */
.secondary-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #e8f6f7;
    background-color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #e8f6f7;
    border-radius: 5px;
    cursor: pointer;

}

/* Custom hover for  */
.hilo:hover {
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    height: 20px;
    width: 18px;
}

/* General Anchor & list Styles */
.footer-link {
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.list-links li {
    list-style-type: none;
}

.list-links a {
    list-style-type: none;
    text-decoration: none;
}

.footer-link:hover {
    font-weight: 500;
    color: #ffc107;
    transform: scale(1.05);
}

/* General Social Link Styles */
.social-link {
    color: #ffffff;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

/* Global Typography Styles */
/* Headings: Montserrat Bold, Dark Gray (#2c2c2c) - App Titles and Section Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #1f5a5e;
}

/* Body Text: Lato Regular, Black (#000000) - Body Text and Regular Fonts */
body,
p,
span,
a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #2a2a2a;
}

/* General sizing */
/* Body and footer */
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 249px;
}

/* Booked data styling the accent background color, hover color, text color, border style for the accordian
and the style for the sub dropdown (color, spacing, hover and background based on if it's deletion or updating.
Give positive color if it's update, and danger color if it's delete. */

.accent-bg-bk {
    background-color: #609d9d;
}

.accordion-button:not(.collapsed) {
    color: #353030;
    background-color: #ffb300;
}

.accent-bg-bk:hover {
    color: #353030;
    font-weight: 500;
    font-size: 18px;
    background-color: #3cacb47d
}

.accordion-item {
    border: var(--bs-accordion-border-width) solid #0d332761;
}

.mini-manage {
    background-color: #d8dede;
}

.mini-drop {
        font-weight: 400;
        text-align: inherit;
        white-space: nowrap;
        border: 0;
}

/* Override the default focus and active state of dropdown items */
.dropdown-item:focus, 
.dropdown-item:active {
    background-color: #bad7bc !important; 
    color: white !important;
}

.mini-delete:focus, 
.mini-delete:active {
    background-color: #cf4c28 !important; 
    color: white !important;
}

.dropdown-item:hover {
    background-color: #3cacb47d;
    color: white;
}

/* Optional: Change background color when hovering over the item */
.mini-delete:hover {
    background-color: #c6650b7d;
    color: white;
}

/* Navigation links */
/* Style for all nav links */
.nav-link.active {
    color: #ffc107 !important; /* Force color to black */
}

/* Phone logo */
#logo {
    font-weight: 600;
    font-size: 100px;
    cursor: pointer;
}

/* Footer styles, social icon colors, hover, fonts and spacing between them  */

.desktop-footer,
.mobile-footer {
    padding: 10px 0;
}

/* social Icons */
.social-link.facebook:hover {
    color: #3b5998;
    font-weight: 600;
    transform: scale(1.2);
}

.social-link.twitter:hover {
    color: #0d95e8;
    font-weight: 600;
    transform: scale(1.2);
}

.social-link.instagram:hover {
    color: #d62957;
    font-weight: 600;
    transform: scale(1.2);
}


.social-link.youtube:hover {
    color: #cc0000;
    font-weight: 600;
    transform: scale(1.2);
}

.social-space {
    margin-top: 70px;
}

#space-icons {
    margin-top: 20px;
    justify-content: space-between;
}

/* Booking app  */
/* Cover image and book button, use general styles for h2,p  and action button "BOOK" */
#cover-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Make the cover image bit darker */
#cover-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background: rgba(178, 175, 175, 0.981);
    z-index: 0;
}

/* Position the cover image */
#cover-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Make the cover image bit darker */
#cover-images::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background: rgba(178, 175, 175, 0.981);
    z-index: 0;
}

/* Position the cover image */
.cover-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    
}

/* Remove dark background but keep readable contrast */
.cover-text h2 {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffc107;
}

.cover-text p {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
    font-size: larger;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* Booked data style */
.sinaan {
    padding-left: 40%;
}
#hego {
    margin-bottom: 30px;
}

/* general from spacing and styling */
.form-style {
    background-color: #ffffff;
    margin-top: 1.5rem !important;
    box-shadow: 1px 0rem 1rem 1px rgb(13 210 227 / 18%) !important;
}
.form-p {
    padding: 2.5rem !important;
}

/* Map style */
#map {
    height: 500px;
    width: 100%;
    margin-top: 40px;
}

/* Mobile footer, show only under 580 media query and hide it over 580.
Hide desktop footer and show mobile size social links which is in about page in this size */

@media (max-width: 600px) {

    /* hide desktop footer */
    .desktop-footer {
        display: none;
    }

    .mobile-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #71b9bd;
        color: #fff;
        padding: 0.5rem 0;
        z-index: 1000;
    }

    .container-fluid {

        padding-left: 0;
        padding-right: 0;
    }

    .mobile-footer a {
        font-size: 1.5rem;
    }

    .mobile-footer a i:hover {
        color: #ffc107;
        font-weight: 600;
        transform: scale(1.2);
    }

    .cover-text p {
        font-size: 13px;
    }

    #mobile-social-links {
        display: block;
    }
    
}


/* Media footer for screens from 581 px and up.
Hide mobiel footer and give space between the footer and the containers */
@media (min-width: 601px) {
    /* hide mobile footer */
    .mobile-footer {
        display: none;
    }
    .home,
    .book {
        margin-bottom: 360px;
    }
    .about {
        margin-bottom: 370px;
    }

    #mobile-social-links {
        display: none;
    }
}

/* Media query for tablet size screens. 
Adjust the footer height, the scissors font size and it's weight
Then give the internal and external links in the footer 50% of the column
(barber, social, navigation and visit us)
Then h2 and h5 fonts.*/
@media (min-width: 601px) and (max-width: 895px) {
    
    /* Set the height of the desktop footer to fit its content */
    .desktop-footer {
        height: fit-content;
    }

    /* Adjust the logo's font size and weight */
    #logo {
        font-size: 50px; /* Set font size to 50px */
        font-weight: 300; /* Set font weight to 300 for a lighter appearance */
    }

    /* Set the width of each column in the footer to 50% */
    .desktop-footer .col-12 {
        width: 50%; /* Each column takes up 50% of the container */
    }

    /* Adjust the font size and weight of h2 and h5 headers */
    h2, h5 {
        font-weight: 600; /* Set font weight to 600 for a bolder appearance */
        font-size: 1rem; /* Set font size to 1rem */
    }
}

