{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}
<!-- Booking cover -->
<div class="container book">
    {% if messages %}
    <ul class="list-unstyled mt-3" id="message-container">
        {% for message in messages %}
        <li class="alert alert-{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="row g-0 mt-3" id="cover-image">
            <!-- Booking Cover Image -->
            {% if "placeholder" in bookcover.cover_image.url %}
                <img src="{% static 'images/cover.jpg' %}" class="img-fluid" alt="Placeholder image">
            {% else %}
                <img src="{{ bookcover.cover_image.url }}" class="img-fluid" alt="Booking cover image">
            {% endif %}

                <!-- Booking intro -->
            <div id="spacing-con" class="cover-text text-center">
                <h2>Book Now</h2>
                {{ bookcover.booking_intro | safe }}
                <a href="#booking-section" class="btn text-color action-bg" id="fade-button">Go to Booking</a>
            </div>
            
        </div>
    {% else %}
        <div class="row g-0 mt-3" id="cover-images">
            <!-- Booking Cover Image -->
            {% if "placeholder" in bookcover.cover_image.url %}
                <img src="{% static 'images/cover.jpg' %}" class="img-fluid" alt="Placeholder image">
            {% else %}
                <img src="{{ bookcover.cover_image.url }}" class="img-fluid" alt="Booking cover image">
            {% endif %}

                <!-- Booking intro -->
            <div class="cover-text text-center">
                <h2>Book Now</h2>
                {{ bookcover.booking_intro | safe }}
                <a href="#booking-section" class="btn text-color action-bg">Go to Booking</a>
            </div>
            
        </div>
    {% endif %}
</div>

<!-- Booking form -->
<div id="booking-section" class="container book mt-3">
    <div class="row">
        {% if user.is_authenticated %}
            <h2 class="text-center">Book an appoinment</h2>
            <div class="col-md-8 mt-2 offset-md-2">
                <h3 class="action-color text-center">{% trans "Add a New Booking" %}</h3>
                <p class="text-color">
                    {% blocktrans %} Please fill out the details below to add a new booking. {% endblocktrans %}
                </p>
            </div>
        {% else %}
        <h2 class="text-center">Barber Booking</h2>
        <div class="col-md-8 mt-2 offset-md-2">
            <h3 class="action-color text-center">{% trans "To book an appoinment" %}</h3>
        </div>
        {% endif %}
    </div>

    <div class="row">
        {% if user.is_authenticated %}
            <div class="col-md-8 mt-5 offset-md-2">
                <form method="post" action="{% url 'book' %}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-signup right text-color action-bg" type="submit">{% trans "Book" %}</button>
                </form>
            </div>
        {% else %}
            <p class="text-center text-color">Log in please to book an appoinment</p>
        {% endif %}
    </div>
    <!-- Booked data section link -->
    <div class="sinaan row">
        {% if bookings %}
            <a href="#booked-data" class="btn accent-color mt-3 accent-bg"> See Booked appoinments</a>
        {% endif %}
    </div>
</div>

<!-- Booked data section -->
<!-- 
<div class="container book mt-3" id="booked-data">
    <div class="row">
        <div class="col-12">
            <h2 id="hego" class="text-center">Booked Appoinments</h2>
        </div>
    </div>
    <div class="row">
        {% for booking in bookings %}
        <div class="accordion" id="accordionExample">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-4 col-xxl-5 accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button text-color action-bg" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ booking.service.service_name }} | {{ booking.time }}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body secondary-bg text-color">
                        <strong>{{ booking.barber.barber_name }} | </strong> {{ booking.date }}
                        Welcome to our barber!
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <p class="text-center">You have no booked appoinment</p>
        {% endfor %}
    </div>
</div> -->
 

<div class="container book mt-3" id="booked-data">
    <div class="row">
        <div class="col-12">
            <h2 id="hego" class="text-center">Booked Appointments</h2>
        </div>
    </div>
    <div class="row">
        {% for booking in bookings %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 accordion-item">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item mb-2">
                    <h2 class="accordion-header">
                        <!-- Make sure each button links to its unique collapse ID -->
                        <button class="accordion-button colap text-color accent-bg-bk" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                            {{ booking.service.service_name }} | {{ booking.time }} 
                        </button>
                    </h2>
                    <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body secondary-bg text-color">
                            <strong>{{ booking.barber.barber_name | linebreaks }} | </strong> <strong>Price:</strong> {{ booking.service.service_price }} <br> <strong>| Date: </strong> {{ booking.date }} <br>
                            <hr class="fw-semibold">
                            Welcome <strong class="text-capitalize">{{ booking.user }}!</strong> We're excited to have you at our barber shop. Hoping to see you soon!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <p class="text-center">You have no booked appointments</p>
        {% endfor %}
    </div>
</div>

{% endblock %}