{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row mt-3" id="cover-image">
        {% for bookcover in bookingcover %}
        <!-- Booking Cover Image -->
        {% if "placeholder" in bookcover.cover_image.url %}
            <img src="{% static 'images/cover.jpg' %}" class="img-fluid" alt="Placeholder image">
        {% else %}
            <img src="{{ bookcover.cover_image.url }}" class="img-fluid" alt="Booking cover image">
        {% endif %}
            <!-- Booking intro -->
            <h2>Book Now</h2>
            <p>{{ bookcover.booking_intro | safe }}</p>
            <button type="submit" class="btn btn-black">Book</button>
        {% endfor %}

    </div>
</div>
{% endblock %}