{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for bookcover in bookingcover %}
    <div class="col-12 position-relative">
        <!-- Content Positioned Over the Image -->
        <div id="booking-content">
            <h2>Book Now</h2>
            <p>{{ bookcover.booking_intro | safe }}</p>
            <button type="submit" class="btn btn-black">Book</button>
        </div>

        <!-- Booking Cover Image -->
        {% if "placeholder" in bookcover.cover_image.url %}
            <img id="cover-image" src="{% static 'images/cover.jpg' %}" class="img-fluid" alt="Placeholder image">
        {% else %}
            <img id="cover-image" src="{{ bookcover.cover_image.url }}" class="img-fluid" alt="Booking cover image">
        {% endif %}
    </div>
{% endfor %}

    </div>
</div>
{% endblock %}