{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}
<div class="container">
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="alert alert-{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row g-0 mt-3" id="cover-image">
        {% for bookcover in bookingcover %}
        <!-- Booking Cover Image -->
        {% if "placeholder" in bookcover.cover_image.url %}
            <img src="{% static 'images/cover.jpg' %}" class="img-fluid" alt="Placeholder image">
        {% else %}
            <img src="{{ bookcover.cover_image.url }}" class="img-fluid" alt="Booking cover image">
        {% endif %}

            <!-- Booking intro -->
        <div class="cover-text text-center">
            <h2>Book Now</h2>
            {{ bookcover.booking_intro | safe }}
            <a href="{% url 'booking_form' %}" class="btn text-color action-bg">Book</a>
        </div>
        {% endfor %}
        
    </div>
</div>

<!-- Booking form -->

<div class="container mt-3">
    <div class="row">
        <h2 class="text-center">Book an appoinment</h2>
        <div class="col-md-8 mt-2 offset-md-2">
            <h3 class="action-color text-center">{% trans "Add a New Booking" %}</h3>

            <p class="text-color">
                {% blocktrans %} Please fill out the details below to add a new booking. {% endblocktrans %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mt-5 offset-md-2">
            <form method="POST" action="{% url 'booking_form' %}">
                {{ booking_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-signup right text-color action-bg" type="submit">{% trans "Submit" %}</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}